<%-include('./header.ejs')%>

    <br><br><br><br>

    <!--slider div start-->
    <div class="carousel slide " data-bs-ride="carousel" id="a1" >
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#a1" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#a1" data-bs-slide-to="0"></button>
        </div><!--carousel-indicators end-->

        <div class="carousel-inner h-100">
            <div class="carousel-item active">
                <img src="image/laptop-5754927_1280.jpg" alt="slider 1" style="width: 100%;">
                <div class="carousel-caption">
                    <h1>Welcome</h1>
                </div> <!--carousel-caption end-->
            </div> <!--carousel item end-->
            <div class="carousel-item">
                <img src="image/laptop-1842297_1280.jpg" alt="slider 2" style="width: 100%;">
                <div class="carousel-caption">
                    <h1>Welcome</h1>
                </div> <!--carousel-caption end-->
            </div> <!--carousel item end-->

        </div> <!--carousel-inner end-->

        <button class="carousel-control-prev" type="button" data-bs-target="#a1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#a1" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <!--slider div end-->

    <div class="container mt-3">
        <h1 class="text-center a">BLOG LIST</h1>
        <div class="row">
            <% b.forEach((item)=>{ %>
                <div class="col-md-4 mt-3 mb-3">
                    <div class="card shadow-lg h-100">
                        <img src="<%=item.image.url %>" alt="no-b" height="200">

                        <div class="card-body">
                            <p>Abhi , <%= item.createdAt.toLocaleDateString() %></p>
                            <h4><%=item.title %></h4>
                            <p><%=item.description.slice(0,90) %></p>
                            <a href="/details/<%=item.id%>" class="btn btn-danger btn-lg mt-5">Read more...</a>

                        </div>

                    </div><!--card end-->

                </div>

            <%}) %>
            
           
        </div><!--row end-->
    </div><!--container end-->
    <br><br>

<%-include('./footer.ejs')%>