<%-include("../header.ejs")%>
    <%-include("../sidebar.ejs")%>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Category Edit</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Category Edit</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">

                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                          
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form action="/admin/categoryUpdate/<%= e.id %>" method="post">
                                <div class="from-group">
                                    <label for="">Category Name</label>
                                    <input type="text" value="<%= e.name %>" name="n" class="form-control">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-info">Update</button>
                            </form>
                           
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
       

        <%-include("../footer.ejs") %>