
<%-include("../header.ejs")%>
<%-include("../sidebar.ejs")%>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">blog</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">blog Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        
        <!-- /.card -->

        <div class="card">
            <div class="card-header">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#blog">
                Add Blog
                  </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Image</th>

                  <th>Action</th>
                </tr>
                </thead>

              <tbody>
                <% b.forEach((item)=>{ %>
               <tr>
                <td><%= item.id %></td>
                <td><%= item.category %></td>
                <td><%= item.title %></td>
                <td><%= item.description.slice(0,90) %></td>
                <td><img src="<%=item.image.url %>" alt="" width="100"></td>
                <td>
                  <a href="/admin/blogView/<%= item.id %>" class="btn btn-info">View</a>
                  <a href="/admin/blogEdit/<%= item.id %>" class="btn btn-info">Edit</a>
                  <a href="/admin/blogDelete/<%= item.id %>" class="btn btn-info">Delete</a>
                </td>
               </tr>
                 <% }) %>
              </tbody>

                <tfoot>
                <tr>
                  <th>Id</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Image</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- blog modal -->
  <div class="modal fade" id="blog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Blog</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/bloginsert" method="post" enctype="multipart/form-data">
                  
                    <div class="from-group">
                      <label for="">category</label>
                      <select class="form-control" name="category" id="">
                        <option value="">select category</option>
                        <% c.forEach((item)=>{ %>
                        <option value="<%= item.name %>"><%= item.name %></option>
                        <% }) %>
                      </select>
                     
                    </div>
                    <div class="from-group">
                      <label for="">title</label>
                      <input type="text" name="title" class="form-control">
                    </div>
                    <div class="from-group">
                      <label for="">description</label>
                      <textarea name="description" id="" class="form-control"></textarea>
                    </div>
                    <div class="from-group">
                      <label for="">image</label>
                      <input type="file" name="image" class="form-control">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-info">submit</button>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

  <%-include("../footer.ejs") %>

 
